{% if currentUser %}
  {#  {{ dump(currentUser) }} #}
  <div class="box space-y-5">
    <p class="font-bold text-2xl">
      Hi 👋, {{ currentUser.firstName ?? currentUser.name }}
    </p>
    <ul>
      <li>
        {{ tag('a', {
          text: "Billing Portal",
          href: currentUser.getStripeBillingPortalSessionUrl('/'),
          class: 'link',
        }) }}
      </li>
      <li>
        {{ tag('a', {
          text: "Update Payment Method",
          href: currentUser.getStripeBillingPortalSessionPaymentMethodUpdateUrl('/'),
          class: 'link',
        }) }}
      </li>
    </ul>
  </div>
{% endif %}
